.if {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .blockName{
        border: 1px solid #999;
        background-color: silver;
        margin: 1px;
    }
    .block {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: stretch;
        background: #fff;
        border: 1px solid #999;
        float: left;
        font-size: 24px;
        font-weight: bold;
        line-height: 34px;
        height: 400px;
        width: 250px;
        // margin-right: -1px;
        // margin-top: -1px;
    margin: 1px;
        padding: 0;
        text-align: center;
        .ch {
            background-color: skyblue;
            border: 1px solid #999;
            box-sizing: border-box;
            font-size: 20px;
            height: 25%;
            width: 25%;
            float: left;
            margin: auto;
            // position: relative;
            // .name {
            //     color: green;
            //     position: absolute;
            //     top: 50%;
            //     /*親要素を起点に上から50%*/
            //     left: 50%;
            //     /*親要素を起点に左から50%*/
            //     transform: translateY(-50%) translateX(-50%);
            //     /*要素の大きさの半分ずつを戻す*/
            //     -webkit-transform: translateY(-50%) translateX(-50%);
            // }
        }
        // .sig {
        //     background-color: skyblue;
        //     border: 1px solid #999;
        //     box-sizing: border-box;
        //     font-size: 20px;
        //     height: 50%;
        //     width: 25%;
        //     float: left;
        //     position: relative;
        //     .name {
        //         color: green;
        //         position: absolute;
        //         top: 50%;
        //         /*親要素を起点に上から50%*/
        //         left: 50%;
        //         /*親要素を起点に左から50%*/
        //         transform: translateY(-50%) translateX(-50%);
        //         /*要素の大きさの半分ずつを戻す*/
        //         -webkit-transform: translateY(-50%) translateX(-50%);
        //     }
        // }

        // .lhsd {
        //     background-color: skyblue;
        //     border: 1px solid #999;
        //     box-sizing: border-box;
        //     font-size: 20px;
        //     height: 33%;
        //     width: 25%;
        //     float: left;
        //     position: relative;
        //     .name {
        //         color: green;
        //         position: absolute;
        //         top: 50%;
        //         /*親要素を起点に上から50%*/
        //         left: 50%;
        //         /*親要素を起点に左から50%*/
        //         transform: translateY(-50%) translateX(-50%);
        //         /*要素の大きさの半分ずつを戻す*/
        //         -webkit-transform: translateY(-50%) translateX(-50%);
        //     }
        // }
    }
}
